name: Ruby

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: build
      run: |
        gem install bundler
        sudo apt-get install -y libmysqlclient-dev
    - name: test
      env:
        DATABASE_URL: mysql2://root:password@127.0.0.1:${{ job.services.mysql.ports[3306] }}/test
      run: |
        bundle install --jobs 4 --retry 3
        bin/rails db:setup test
